VITE_ADMIN_PASSWORD=teacher1234
VITE_PUBLIC_APP_URL=https://exam-seven-chi.vercel.app/teacher
VITE_SUPABASE_URL=https://otlmlgguzosyxacaggah.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=replace_with_supabase_publishable_key
