VITE_ADMIN_PASSWORD=teacher1234
VITE_PUBLIC_APP_URL=https://your-vercel-domain.vercel.app
VITE_SUPABASE_URL=https://njlwhmvgdqloelvmydra.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_iyTkqszXjnHEdZsPIcHhdA_aDEgcBr3
